#root{
  font-family: 'Lato', sans-serif;
}
body{
  background-color:#d07cd0;
}

.appBody{
  display:flex;
  justify-content:center;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:15px;
}

.exerciseHeader{
  background-color:#b68fd6;
  color:#ffddcc;
  display:grid;
  justify-content:center;
  border-radius:20px;
  border:20px;
  border-color:#6b3696;
  padding:5px;
}
.exerciseList{
  display:flex;
  justify-content:center;
  width:50%;
  flex-wrap: wrap; 
  padding:10px;
  margin-left:50vh;
  margin-right:50vh;
  background:plum;
}

.data-modal{
  background-color:plum;
  border-radius:12px;
  border-color:violet;
  margin-left:auto;
  margin-right:auto;
  flex-wrap:wrap;
  justify-content:center;
  max-width: fit-content;
}

.modalBody{
  display:flex;
  justify-content:center;
  /* flex-wrap:wrap; */
}

.modalBody p{
  display:inline-flexbox;
}
.modalBody input{
  margin-top:10px;
  margin-bottom:0px;
  padding-bottom:0px;
  border-radius:10px;
  outline-color:khaki;
  display:block;
  text-align: justify;
}
.error-valid{
  display:inline-block;
  color:red;
  text-align:left;
  font-size:16px;
}


